body {
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-left: 250px;
    margin-right: 250px;
}

a:link {
    color: #d9d1cf;
    text-decoration: none
}

a:visited {
    color: #d9d1cf;
    text-decoration: none
}

a:hover {
    color: #cf0015;
    text-decoration: none;
}

#navbar {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #272822;
    list-style-type: none;
}

#navbar li {
    display: inline
}

h1 {
    color: #cf0015
}

.meals {
    column-count: 2
}

.sides {
    margin-left: 175px;
    margin-right: 175px
}

.about {
    margin-left: 160px;
    margin-right: 160px
}

hr {
    border: 1px solid #c5a173;
    width: 60%
}