body {
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-left: 250px;
    margin-right: 250px;
}

a:link {
    color: #d9d1cf;
    text-decoration: none
}

a:visited {
    color: #d9d1cf;
    text-decoration: none
}

a:hover {
    color: #cf0015;
    text-decoration: none;
}

#navbar {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #272822;
    list-style-type: none;
}

#navbar li {
    display: inline
}

h1 {
    color: #cf0015
}

.meals {
    column-count: 2
}

.sides {
    margin-left: 175px;
    margin-right: 175px
}

.about {
    margin-left: 160px;
    margin-right: 160px
}

hr {
    border: 1px solid #c5a173;
    width: 60%
}

input[type=text] {
    padding: 8px 8px;
    margin: 8px 0;
    width: 60%;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poiret One', cursive;
    /* border-radius: 4px; */
}

input[type=text]:focus {
    border: 3px solid #cf0015;
}

textarea {
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poiret One', cursive;
    width: 60%;
    height: 150px;
    /* border-radius: 4px; */
}

textarea:focus {
    border: 3px solid #cf0015;
}

input[type=submit] {
    padding: 8px 8px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #272822;
    color: #272822;
}

input[type=submit]:active {
    transform: scale(0.95);
}

button {
    padding: 8px 8px;
    margin: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #272822;
    color: #272822;
}

button:active {
    transform: scale(0.95);
}