body {
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-left: 250px;
    margin-right: 250px;
}

a:link {
    color: #181c16
}

a:visited {
    color: #181c16
}

a:hover {
    color: #cf0015
}

h1 {
    color: #cf0015
}

.meals {
    column-count: 3
}